<!--This page is about page which shows the details about the page-->
<!doctype html>
<html lang="en">
  <head>
    <title>About <%=shopName%></title>
    <!--Linking the CSS for the file-->
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <a href="/"><%=shopName%></a></h1>
    <p>This is a project made by Aheed which was made to help people manage their diet by displaying nutritional facts such as, carbs, fat, protein, salt, and sugar in a recipe based on food ingredients in the recipe.</p>
  </body>
</html>