<!-- The home page of our app which lists all the routes of our app -->
<!doctype html>
<html lang="en">
    <head>
        <title>Welcome to <%=shopName%></title>
        <!-- Linking my CSS -->
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <body>
        <h1>Welcome to <a href="/"><%=shopName%></a></h1>
        <!-- The list of all our web app's routes -->
        <p><a href="about">About <%=shopName%></a></p>
        <p><a href="register">Register with us</a></p>
        <p><a href="login">Login</a></p>
        <p><a href="logout">Logout</a></p>
        <p><a href="add-food">Add Food</a></p>
        <p><a href="search-food">Search for food</a> </p>
        <p><a href="search-food-to-update">Update/Delete food</a> </p>
        <p><a href="list-food">List food</a></p>
        <p><a href="api">API</a></p>
        <br />
<!--        <p><a href="search">Search for books</a></p>-->

<!--        <p><a href="deleteUser">Delete User</a></p>-->
<!--        <p><a href="addbook">Add a new book</a></p>-->
<!--        <p><a href="list">List books</a></p>-->
<!--        <p><a href="listUsers">List Users</a></p>-->
<!--        <p><a href="weather">Weather</a></p>-->
<!--        <p><a href="bargainbooks">Bargain books</a></p>-->
<!--        <p><a href="tvshows">Search for TV Shows</a></p>-->

        <p>Just click on <%=shopName%> anywhere in the app to come back to the homepage!</p>
    </body>
</html>
