<!-- This is the page for when the user logs in successfully -->
<!doctype html>
<html lang="en">
    <head>
        <title>Logged In!</title>
        <!-- Linking my CSS -->
        <link rel="stylesheet"  type="text/css" href="main.css" />
    </head>
    <body>
        <h1>Yay! You have been logged in for  <a href="/"><%=shopName%></a></h1>
        <p>Click on <%=shopName%> above to go back to the home page.</p>
    </body>
</html>

